<h1>Coco's Hot Cocoa </h1>

<h3> Quality is our recipe </h3>

<div>
		<p> My name is Coco Tingey and I am a college student from Provo Utah who had an idea to make gourmet Hot Cocoa to help make winter a little bit more enjoyable. This idea started one afternoon as I sat in my apartment cuddled in a blanket wishing I could have some Hot Cocoa. I started brainstorming and came up with the perfect Hot Cocoa recipe that will warm you from the inside out and bring back all of your happiest memories. The best part about Coco's Hot Cocoa is that you have <strong>DELICIOUS</strong> hot chocolate packets sitting in your cupboard that can be made in less then 2 minutes!
		</p>
</div>

<pik> <img src = "http://media.gettyimages.com/photos/caucasian-girl-drinking-hot-chocolate-at-christmastime-picture-id138710572?k=6&m=138710572&s=170667a&w=0&h=18wk-g0Et1EheMsD3-Eres-71i_20JITAoC7DhHqXus=">
</pik>




