<h1> Bio </h1>
	<div> 
		<p> Hi my name is Coco Tingey! I am an 18 year old college student that is passionate in sharing my love for gourmet Hot Cocoa</p>
		<img src='https://pbs.twimg.com/profile_images/691808151050571776/YwEqA-GI.jpg'>
	</div>