<h1>Products</h1>

<div>
	<div> 
		<h2>Hot Cocoa's</h2>
		<p> Caramelizer: Milk, Cocoa, Caramel, whipped cream</p>
		<p> Cinammon Mocha: Milk, Cocoa, Cinnamon, whipped cream</p>
		<p> Almond Delight: Milk, Cocoa, Almond flavor, whipped cream </p>
		<p> SECRET RECIPE: Milk, Cocoa, Secret Ingredient, whipped cream <p>
	</div>
</div>

<div>
	<div> 
		<h2>Mug's</h2>
		<p> Tickle Me Pink Polka Dots</p>
		<p> Cow Print </p>
		<p> Chevron </p>
		<p> Checkered </p>
	</div>
</div>

<div>
	<div> 
		<h2>T-shirts</h2>
		<p> Womens Coco's Hot Cocoa t-shirt</p>
		<p> Mens Coco's Hot Cocoa t-shirt </p>
		<p> I love hot cocoa t-shirt </p>
		<p> Hot cocoa is life t-shirt </p>
	</div>
</div>

