// Place all the styles related to the CocosHotCocoa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	padding: 0 350px 0 350px;
	color: #492e12;
	font-family: cursive;
	font-size: 70px;
}
img {
	height: 70px;
	width: 70px;
}

p {
	border: 10px solid #E5ACB6;

}
div img {
	height: 300px;
	width: 300px;
	padding: 0 450px 0 450px;
}

h3{
	font-family: cursive;
	padding: 0 390px 0 390px;
	font-size: 50px;
	opacity: 0.2;
}
pik img {
	padding: 0 350px 0 350px;
	width:500px;
	height:400px;
}